
.sticky-container {
  
    z-index: 50;
    /*background-color: #333;*/
    padding: 0px;
    margin: 0px;
 
    right: -122px;
    top: 80px;
    width: 197.5px;
    }


.sticky-container {
    position: fixed;
    animation: mybar 20s ;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    }


@keyframes mybar {
    from {top: -150px;}
    to {top: 80px;}
    }


.sticky li {
    height: 34px;
  /*border-radius: 50px 20px;*/
  border-radius: 25px;
    list-style-type: none;
    background-color: #333;
    color: #efefef;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    filter: gray;
    -webkit-filter: grayscale(100%);
    }


li img {
    /*border-radius: 50px 20px;*/
    border-radius: 25px;
    }


.sticky li:hover {
    margin-left: -77px;
    -webkit-filter: grayscale(0%);
    }


.sticky li img {
    float: left;
    margin-top: 4.7px;
    margin-left: 5px;
    margin-right: 10px;
    }


#current {
    padding: 0px;
    margin: 0px;
    line-height: 38px;
    color: white;
    }


p {
    padding: 0px;
    margin: 0px;
    line-height: 38px;
    }

    
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }

